.login-form {
	position: relative;
	width: 400px;
	height: auto;
	width: 700px;
	font-size: 40px;
}
.text {
	font-size: 60px;
	color: #c7c7c7;
	font-weight: 600;
	letter-spacing: 2px;
}
.field .fas {
	height: 80px;
	width: 100px;
	color: #868686;
	font-size: 50px;
	line-height: 50px;
	margin-top: 10px;
	padding-top: 20px;
}
.field input, form button, select {
	height: 100px;
	width: 100%;
	outline: none;
	font-size: 19px;
	font-size: 30px;
	margin-top: 10px;
}
.login-form{
  width: 300px!important;
}